@font-face {
    font-family: Gruppo;
    src: url(Gruppo-Regular.ttf);
}
@font-face {
    font-family: Digital;
    src: url(Digital.ttf);
}
button {
    color: dimgray;
    font-size: 19px;
    background-color: darkgrey;
    width: 33px;
    height: 33px;
    border-radius: 10px;
}
#wave {
    float: left;
    width: 100%;
    height: 35px;
}
/* Play */

#openFileButton {
    visibility: hidden;
}
#inputFileDiv {} #panel {
    width: 500px;
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
}
;
 table {
    border-collapse: collapse;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
tr:hover {
    background-color: #52fc6c;
    cursor: pointer;
}
#playlistTable {
    color: red;
    background-color: #76ed00;
    text-decoration: none;
    font-family: 'Gruppo', cursive;
    border: solid black 1px;
    font-weight: 900;
    font-size: 17px;
    width: 500;
}
.Playing {
    color: darkred;
    font-weight: 900;
}
#analyser_render {
    width: 500px;
    height: 85px;
    float: right;
    background: #002D3C;
}
.treckProgressBar {
    float: left;
    -webkit-appearance: none;
    background-color: #9a9a9a;
    width: 99%;
    height: 21px;
    border-style: solid;
    color: black;
    border-width: 3px;
    border-radius: 5px;
    border-color: #0f0;
}
.playlistTable {
    width: 400;
}
.timer {
    float: left;
    margin-left: 10px;
    font-size: 51px;
    color: #14dc14;
    background-color: #0f1f00;
    font-family: Digital;
    width: 120px;
    border-width: 3px;
    border-radius: 5px;
    border-color: #0f0;
}