@font-face {
    font-family: Gruppo;
    src: url(Gruppo-Regular.ttf);
}
@font-face {
    font-family: Digital;
    src: url(Digital.ttf);
}
body {
    margin: 0;
}
input[type="range"] {
    background-image: -webkit-linear-gradient(left, hsla(0, 0%, 100%, .1) 45%, transparent 45%), -webkit-linear-gradient(hsla(0, 0%, 0%, .1), hsla(0, 0%, 100%, .1)), -webkit-linear-gradient(left, #b0c43c, #f66);
    background-size: 3px 3px, 100% 100%, 100% 100%;
    border-radius: 25px;
    box-shadow: inset 0 1px 4px hsla(0, 0%, 0%, .5), inset 0 0 10px hsla(0, 0%, 0%, .5), 0 0 0 1px hsla(0, 0%, 0%, .1), 0 -1px 2px 1px hsla(0, 0%, 0%, .25), 0 2px 2px 1px hsla(0, 0%, 100%, .5), 0 -2px 10px 2px hsla(0, 0%, 100%, .75), 0 2px 10px 2px hsla(0, 0%, 0%, .25);
    cursor: ew-resize;
    height: 10px;
    position: relative;
    width: 250px;
    -webkit-appearance: caret;
}
input[type="range"]::-webkit-slider-thumb {
    background-color: #eee;
    background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 0%, .1));
    border-radius: 25px;
    box-shadow: inset 0 1px 1px 1px hsla(0, 0%, 100%, 1), inset 0 -1px 1px 1px hsla(0, 0%, 0%, .25), 0 1px 3px 1px hsla(0, 0%, 0%, .5), 0 0 2px hsla(0, 0%, 0%, .25);
    content: '';
    display: block;
    height: 20px;
    left: 0;
    position: relative;
    top: 0;
    width: 20px;
    -webkit-appearance: none;
}
button {
    color: black;
    background-color: rgb(226, 226, 226);
    margin: 1px;
    box-shadow: inset 0 1px 1px 1px hsla(0, 0%, 100%, 1), inset 0 -1px 1px 1px hsla(0, 0%, 0%, .25), 0 1px 3px 1px hsla(0, 0%, 0%, .5), 0 0 2px hsla(0, 0%, 0%, .25);
    border-style: solid;
    border-color: rgb(63, 63, 63);
    border-width: 1px;
    border-radius: 33px;
    height: 23px;
    width: 35px;
}
button:active {
    color: black;
    box-shadow: 0px 0px 2px -1px black;
}
#panel {
    background-color: rgb(12, 231, 222);
    padding: 10px;
    box-shadow: inset 0px 0px 13px 1px white, inset 0px 0px 9px 6px black;
}
#buttonsDiv {
    background-image: -webkit-linear-gradient(left, hsla(0, 0%, 100%, .1) 45%, transparent 45%), -webkit-linear-gradient(hsla(0, 0%, 0%, .1), hsla(0, 0%, 100%, .1)), -webkit-linear-gradient(left, #5F5F5F, #646464);
    background-size: 3px 3px, 100% 100%, 100% 100%;
    border-radius: 25px;
    box-shadow: inset 0 1px 4px hsla(0, 0%, 0%, .5), inset 0 0 10px hsla(0, 0%, 0%, .5), 0 0 0 1px hsla(0, 0%, 0%, .1), 0 -1px 2px 1px hsla(0, 0%, 0%, .25), 0 2px 2px 1px hsla(0, 0%, 100%, .5), 0 -2px 10px 2px hsla(0, 0%, 100%, .75), 0 2px 10px 2px hsla(0, 0%, 0%, .25);
    width: 205px;
    margin: 10px;
}
#analyser_render_canvas {
    background-image: -webkit-linear-gradient(left, hsla(0, 0%, 100%, .1) 45%, transparent 45%), -webkit-linear-gradient(hsla(0, 0%, 0%, .1), hsla(0, 0%, 100%, .1)), -webkit-linear-gradient(left, #5F5F5F, #646464);
    background-size: 3px 3px, 100% 100%, 100% 100%;
    float: left;
    box-shadow: inset 0 1px 4px hsla(0, 0%, 0%, .5), inset 0 0 10px hsla(0, 0%, 0%, .5), 0 0 0 1px hsla(0, 0%, 0%, .1), 0 -1px 2px 1px hsla(0, 0%, 0%, .25), 0 2px 2px 1px hsla(0, 0%, 100%, .5), 0 -2px 10px 2px hsla(0, 0%, 100%, .75), 0 2px 10px 2px hsla(0, 0%, 0%, .25);
    width: 48%;
    height: 39px;
    margin: 10px;
    padding-right: 1px;
    padding-left: 2px;
    border-radius: 8px;
}
#treckProgressBar {
    width: 600px;
    margin: 10px;
    margin-right: 9px;
    height: 0px;
}
#wave {
    border: 5px solid red;
    width: 1px;
    height: 0px;
    margin: 0px;
    margin-top: 25px;
    margin-bottom: 62px;
}
#audiodatacanvas {
    /* border: 5px solid red; */
    width: 600px;
    height: 40px;
    left: 12px;
    /* margin-top: 25px; */
    /* margin-bottom: 62px; */
    position: relative;
    top: 34px;
}
#timer {
    background-image: -webkit-linear-gradient(left, hsla(0, 0%, 100%, .1) 45%, transparent 45%), -webkit-linear-gradient(hsla(0, 0%, 0%, .1), hsla(0, 0%, 100%, .1)), -webkit-linear-gradient(left, #5F5F5F, #646464);
    background-size: 3px 3px, 100% 100%, 100% 100%;
    font-family: Gruppo;
    margin: 10px;
    font-family: Digital;
    float: left;
    box-shadow: inset 0 1px 4px hsla(0, 0%, 0%, .5), inset 0 0 10px hsla(0, 0%, 0%, .5), 0 0 0 1px hsla(0, 0%, 0%, .1), 0 -1px 2px 1px hsla(0, 0%, 0%, .25), 0 2px 2px 1px hsla(0, 0%, 100%, .5), 0 -2px 10px 2px hsla(0, 0%, 100%, .75), 0 2px 10px 2px hsla(0, 0%, 0%, .25);
    font-size: 40px;
    border-radius: 8px;
    width: 93px;
    height: 39px;
    color: #14dc14;
}
#volume {
    margin: 10px;
    width: 199px;
    float: left;
}
#volume::-webkit-slider-thumb {
    border-radius: 3px;
    width: 10px;
}
#playlistTable {
    background-image: -webkit-linear-gradient(left, hsla(0, 0%, 100%, .1) 45%, transparent 45%), -webkit-linear-gradient(hsla(0, 0%, 0%, .1), hsla(0, 0%, 100%, .1)), -webkit-linear-gradient(left, #5F5F5F, #646464);
    background-size: 3px 3px, 100% 100%, 100% 100%;
    color: white;
    font-family: Gruppo;
    width: 95%;
    margin: 14px;
    margin-top: 22px;
    margin-bottom: 21px;
    box-shadow: 0px 0px 5px 1px black, 0px 0px 8px 3px white;
}
td {
    border-width: 0px;
}
tr {
    font-weight: 300;
    transition: .5s;
    border-width: 0px;
}
tr:hover {
    font-weight: 900;
    font-size: 16px;
    text-shadow: 0px 0px 8px rgb(163, 163, 163);
    transition: .5s;
    cursor: pointer;
}
th {
    width: 1px;
}
.Paused {} .Playing {
    font-weight: 900;
    color: #14dc14;
    text-shadow: 0px 0px 8px rgb(163, 163, 163);
}
#runningText {
    background-image: -webkit-linear-gradient(left, hsla(0, 0%, 100%, .1) 45%, transparent 45%), -webkit-linear-gradient(hsla(0, 0%, 0%, .1), hsla(0, 0%, 100%, .1)), -webkit-linear-gradient(left, #5F5F5F, #646464);
    background-size: 3px 3px, 100% 100%, 100% 100%;
    width: 97%;
    height: 24px;
    margin: 10px;
    font-family: Digital;
    font-size: 23px;
    color: #14dc14;
    box-shadow: 0px 0px 5px 1px black, 0px 0px 8px 3px white;
    border-radius: 5px;
    float: left;
}
/* Make it a marquee */